## Read Data from JSON

#IMPORTING JSON and record dataset

In [12]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()
record = json.loads(r)

# Displaying the contents of the file record.json

In [35]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'bis', 'pr': 10, 'qn': 100},
 '1011': {'name': 'wdg', 'pr': 20, 'qn': 266},
 '1012': {'name': 'fhmn', 'pr': 20, 'qn': 10},
 '1013': {'name': 'dthtdh', 'pr': 100, 'qn': 520},
 '1014': {'name': 'srfgwg', 'pr': 155, 'qn': 23},
 '1015': {'name': 'jtkyujy', 'pr': 50, 'qn': 100},
 '1016': {'name': 'qwert', 'pr': 500, 'qn': 10},
 '1017': {'name': 'rtgbvcde', 'pr': 900, 'qn': 6},
 '1018': {'name': 'poinbb', 'pr': 200, 'qn': 100},
 '1019': {'name': 'utgvuv', 'pr': 50, 'qn': 400},
 '1020': {'name': 'zeaszz', 'pr': 345, 'qn': 65},
 '1021': {'name': 'nbnvnvn', 'pr': 200, 'qn': 20},
 '1022': {'name': 'plmkn', 'pr': 100, 'qn': 50},
 '1023': {'name': 'hyghio', 'pr': 45, 'qn': 122},
 '1024': {'name': 'uestfgynjk', 'pr': 120, 'qn': 50},
 '1025': {'name': 'drhtdc', 'pr': 2000, 'qn': 6},
 '1026': {'name': 'exdhbi', 'pr': 10, 'qn': 1000},
 '1027': {'name': 'ooujytf', 'pr': 90, 'qn': 45},
 '1028': {'name': 'yuyfjh', 'pr': 45, 'qn': 900},
 '1029': {'name': 'yuoiku', 'pr': 100, 'qn': 100},
 '1030': {'name': 'pijfriv', 'pr': 10, 'qn': 100},
 '1031': {'name': 'fdf', 'pr': 66, 'qn': 16}}

## Add New Item into Inventory
n= number of items to be addded

In [30]:
i= 0
for i in range (1,n,1):
  prod_id = str(input("Enter product id:"))
  name = str(input("Enter name:"))
  pr = int(input("Enter price:"))
  qn = int(input("Enter quantity:"))
  record[prod_id] = {'name': name, 'pr': pr, 'qn': qn}
  i=i+1

## Displaying the updated values og the json file
the updated values are viewed and editing is tested.

In [31]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '101': {'name': '3g2r3g0', 'pr': 62, 'qn': 656},
 '1010': {'name': 'bis', 'pr': 10, 'qn': 100},
 '1011': {'name': 'wdg', 'pr': 20, 'qn': 266},
 '1012': {'name': 'fhmn', 'pr': 20, 'qn': 10},
 '1013': {'name': 'dthtdh', 'pr': 100, 'qn': 520},
 '1014': {'name': 'srfgwg', 'pr': 155, 'qn': 23},
 '1015': {'name': 'jtkyujy', 'pr': 50, 'qn': 100},
 '1016': {'name': 'qwert', 'pr': 500, 'qn': 10},
 '1017': {'name': 'rtgbvcde', 'pr': 900, 'qn': 6},
 '1018': {'name': 'poinbb', 'pr': 200, 'qn': 100},
 '1019': {'name': 'utgvuv', 'pr': 50, 'qn': 400},
 '1020': {'name': 'zeaszz', 'pr': 345, 'qn': 65},
 '1021': {'name': 'nbnvnvn', 'pr': 200, 'qn': 20},
 '1022': {'name': 'plmkn', 'pr': 100, 'qn': 50},
 '1023': {'name': 'hyghio', 'pr': 45, 'qn': 122},
 '1024': {'name': 'uestfgynjk', 'pr': 120, 'qn': 50},
 '1025': {'name': 'drhtdc', 'pr': 2000, 'qn': 6},
 '1026': {'name': 'exdhbi', 'pr': 10, 'qn': 1000},
 '1027': {'name': 'ooujytf', 'pr': 90, 'qn': 45},
 '1028': {'name': 'yuyfjh', 'pr': 45, 'qn': 900},
 '1029': {'name': 'yuoiku', 'pr': 100, 'qn': 100},
 '1030': {'name': 'pijfriv', 'pr': 10, 'qn': 100},
 '1031': {'name': 'fdf', 'pr': 66, 'qn': 16}}

In [32]:
del record['101']

In [33]:
record

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'bis', 'pr': 10, 'qn': 100},
 '1011': {'name': 'wdg', 'pr': 20, 'qn': 266},
 '1012': {'name': 'fhmn', 'pr': 20, 'qn': 10},
 '1013': {'name': 'dthtdh', 'pr': 100, 'qn': 520},
 '1014': {'name': 'srfgwg', 'pr': 155, 'qn': 23},
 '1015': {'name': 'jtkyujy', 'pr': 50, 'qn': 100},
 '1016': {'name': 'qwert', 'pr': 500, 'qn': 10},
 '1017': {'name': 'rtgbvcde', 'pr': 900, 'qn': 6},
 '1018': {'name': 'poinbb', 'pr': 200, 'qn': 100},
 '1019': {'name': 'utgvuv', 'pr': 50, 'qn': 400},
 '1020': {'name': 'zeaszz', 'pr': 345, 'qn': 65},
 '1021': {'name': 'nbnvnvn', 'pr': 200, 'qn': 20},
 '1022': {'name': 'plmkn', 'pr': 100, 'qn': 50},
 '1023': {'name': 'hyghio', 'pr': 45, 'qn': 122},
 '1024': {'name': 'uestfgynjk', 'pr': 120, 'qn': 50},
 '1025': {'name': 'drhtdc', 'pr': 2000, 'qn': 6},
 '1026': {'name': 'exdhbi', 'pr': 10, 'qn': 1000},
 '1027': {'name': 'ooujytf', 'pr': 90, 'qn': 45},
 '1028': {'name': 'yuyfjh', 'pr': 45, 'qn': 900},
 '1029': {'name': 'yuoiku', 'pr': 100, 'qn': 100},
 '1030': {'name': 'pijfriv', 'pr': 10, 'qn': 100},
 '1031': {'name': 'fdf', 'pr': 66, 'qn': 16}}

# Replacing the file as json

In [37]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()