## Read Inventory

In [24]:
import json

fd = open("record.json",'r')

r = fd.read()

fd.close()

records = json.loads(r)

In [25]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'bis', 'pr': 10, 'qn': 100},
 '1011': {'name': 'wdg', 'pr': 20, 'qn': 266},
 '1012': {'name': 'fhmn', 'pr': 20, 'qn': 10},
 '1013': {'name': 'dthtdh', 'pr': 100, 'qn': 520},
 '1014': {'name': 'srfgwg', 'pr': 155, 'qn': 23},
 '1015': {'name': 'jtkyujy', 'pr': 50, 'qn': 100},
 '1016': {'name': 'qwert', 'pr': 500, 'qn': 10},
 '1017': {'name': 'rtgbvcde', 'pr': 900, 'qn': 6},
 '1018': {'name': 'poinbb', 'pr': 200, 'qn': 100},
 '1019': {'name': 'utgvuv', 'pr': 50, 'qn': 400},
 '1020': {'name': 'zeaszz', 'pr': 345, 'qn': 65},
 '1021': {'name': 'nbnvnvn', 'pr': 200, 'qn': 20},
 '1022': {'name': 'plmkn', 'pr': 100, 'qn': 50},
 '1023': {'name': 'hyghio', 'pr': 45, 'qn': 122},
 '1024': {'name': 'uestfgynjk', 'pr': 120, 'qn': 50},
 '1025': {'name': 'drhtdc', 'pr': 2000, 'qn': 6},
 '1026': {'name': 'exdhbi', 'pr': 10, 'qn': 1000},
 '1027': {'name': 'ooujytf', 'pr': 90, 'qn': 45},
 '1028': {'name': 'yuyfjh', 'pr': 45, 'qn': 900},
 '1029': {'name': 'yuoiku', 'pr': 100, 'qn': 100},
 '1030': {'name': 'pijfriv', 'pr': 10, 'qn': 90},
 '1031': {'name': 'fdf', 'pr': 66, 'qn': 16}}

## Purchase portal

In [38]:
n = int(input("Enter the total number of products"))
for i in range (0,n,1):
 ui_prod  = str(input("Enter the product_Id: "))
 ui_quant = int(input("Enter the quantity: "))


 print("Product: ", records[ui_prod]['name'])
 print("Price: ", records[ui_prod]['pr'])
 print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

 records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant
 n=n+1

Enter the total number of products2
Enter the product_Id: 1010
Enter the quantity: 1
Product:  bis
Price:  10
Billing Amount:  10
Enter the product_Id: 1026
Enter the quantity: 2
Product:  exdhbi
Price:  10
Billing Amount:  20

## Update Inventory after purchase

In [31]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()
n

0

## Sales JSON

In [39]:
for i in range (0,n,1):
  sales ={'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}
  n=n+1
sales

{'amount': 20, 'prod': '1026', 'qn': 2}

In [40]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}
sales

{1: {'amount': 20, 'prod': '1026', 'qn': 2},
 2: {'amount': 20, 'prod': '1026', 'qn': 2},
 3: {'amount': 20, 'prod': '1026', 'qn': 2}}

In [30]:
sale = json.dumps(sales)

In [34]:
sales

{1: {'amount': 100, 'prod': '1011', 'qn': 5},
 2: {'amount': 100, 'prod': '1011', 'qn': 5},
 3: {'amount': 100, 'prod': '1011', 'qn': 5}}